<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Portal</title>
</head>
<body>
    <h2>Student Portal</h2>
    <div class="container">
        <div class="post-container">
            <form th:action="@{/register-student}" th:object="${studentRecordDto}" method="post">
                <h3>Register Student</h3>
                <br>
                <div>
                    <label for="name">Name: </label>
                    <input type="text" name="name" id="name" th:field="*{name}">
                </div>
                <div>
                    <label for="lastname">Lastname: </label>
                    <input type="text" name="lastname" id="lastname" th:field="*{lastname}">
                </div>
                <div>
                    <label for="registration">Registration: </label>
                    <input type="text" name="registration" id="registration" th:field="*{registration}">
                </div>
                <input type="submit" value="Submit">
                <a th:href="@{/}">Go back</a>
                <div th:text="${postMessage}"></div>
            </form>
        </div>
    </div>
</body>
</html>